#File Management
alias space='sudo btrfs fi show'
alias ls='exa -al --color=always --group-directories-first' # my preferred listing
alias la='exa -a --color=always --group-directories-first'  # all files and dirs
alias ll='exa -l --color=always --group-directories-first'  # long format
alias lt='exa -aT --color=always --group-directories-first' # tree listing

#Terminal
alias c='clear' 

## Colorize the grep command output for ease of use (good for log files)##
alias grep='grep --color=auto'

# Generate sha1 digest
alias sha1='openssl sha1'

#5: Create parent directories on demand
alias mkdir='mkdir -pv'

#Show open ports
alias ports='sudo ss -tulpn'

# Add safety nets 
# do not delete / or prompt if deleting more than 3 files at a time #
alias rm='rm -I --preserve-root'

# confirmation #
alias mv='mv -i'
alias cp='cp -i'
alias ln='ln -i'
 
# Parenting changing perms on / #
alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'

#Get system memory, cpu usage, and gpu memory info quickly
## pass options to free ##
alias meminfo='free -m -l -t'
 
## get top process eating memory
alias psmem='ps auxf | sort -nr -k 4'
alias psmem10='ps auxf | sort -nr -k 4 | head -10'
 
## get top process eating cpu ##
alias pscpu='ps auxf | sort -nr -k 3'
alias pscpu10='ps auxf | sort -nr -k 3 | head -10'
 
## Get server cpu info ##
alias cpuinfo='lscpu'
 
## older system use /proc/cpuinfo ##
##alias cpuinfo='less /proc/cpuinfo' ##
 
## get GPU ram on desktop / laptop##
alias gpumeminfo='grep -i --color memory /var/log/Xorg.0.log'

#Resume wget by default
## this one saved by butt so many times ##
alias wget='wget -c'

#eye-saver
alias nightlight='redshift -P -O 3300'
alias daylight='redshift -x'

#capture part of screen
alias screencap='maim -s | xclip -selection clipboard -t image/png'

#freeRDP
alias rdpgrepton='xfreerdp /u:grepton\\aszegedi /f /smart-sizing:2560x1440 /v:192.168.50.11 /bpp:32 +fonts +clipboard -wallpaper /rfx /rfx-mode:video /gfx-h264 /audio-mode:1 /gdi:hw /scale:140'

#FEH
alias fehb="feh -Tbooth"

#VScodium
alias code="vscodium"
