[git]
    autoCommit = true
    autoPush = true

[data]
    ntfy_topic = {{ promptStringOnce . "ntfy_topic" "ntfy.sh topic" | quote }}
    email = {{ promptStringOnce . "email" "Email address" | quote }}
    signingkey = "418E38EB5CDF9F0E"
