[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	excludesfile = /home/aszegedi/.gitignore
	editor = nvim 
	autocrlf = false
[user]
	email = mail@adamszegedi.eu
	name = adamszegedi
[pull]
	ff = only
[push]
    autoSetupRemote = true
