[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	excludesfile = /home/aszegedi/.gitignore
	editor = nvim 
    eol = native
	autocrlf = input
[user]
	email = {{ .email | quote }}
	name = adamszegedi
    signingkey = {{ .signingkey }}
[commit]
	gpgsign = true
[pull]
	ff = only
[push]
    autoSetupRemote = true
[fetch]
	prune = true
[init]
	defaultBranch = master
[alias]
    graph = log --oneline --graph --decorate
[blame]
    date = short
