# .bashrc

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

{{ if eq .chezmoi.config.data.hosttype "desktop" -}}
# Start Compositor
if [ -z "$WAYLAND_DISPLAY" ] && [ -n "$XDG_VTNR" ] && [ "$XDG_VTNR" -eq 1 ] && uwsm check may-start; then
    exec uwsm start hyprland-uwsm.desktop
fi
{{- end }}

if [ -f /etc/bash.bashrc ];
then
    . /etc/bash.bashrc
fi

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]; then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# User specific aliases and functions
if [ -d ~/.bashrc.d ]; then
    for rc in ~/.bashrc.d/*; do
        if [ -f "$rc" ]; then
            . "$rc"
        fi
    done
fi
