[core]
    excludesfile = ~/.gitignore
    editor = nvim
    eol = native
    autocrlf = input
[user]
    email = {{ .email | quote }}
    name = adamszegedi
    signingkey = {{ .signkey | quote }}
{{ if .isWSL -}}
[includeIf "hasconfig:remote.*.url:https://github.com/smartcomms/**"]
    path = ~/.gitconfig-work
{{ end -}}
[commit]
    gpgsign = true
[pull]
    ff = only
[push]
    autoSetupRemote = true
[fetch]
    prune = true
[init]
    defaultBranch = main
[alias]
    graph = log --graph --decorate --pretty=format:'%C(auto)%h%d %C(green)%<(15,trunc)%an%Creset %C(blue)%<(15)%cr%Creset %s'
[blame]
    date = short
