{{ if .isWSL -}}
[user]
    name = Adam Szegedi
[credential "https://github.com"]
    helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
{{ end -}}
