/* --- THEME COLORS START --- */
@define-color bg       #282828;
@define-color fg       #d4be98;
@define-color muted    #bdae93;
@define-color accent   #7daea3;
/* --- THEME COLORS END --- */

* {
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 14px;
    font-weight: 600;
    min-height: 0;
}


window#waybar {
    background-color: @bg;
    color: @fg;
    border-bottom: 2px solid #a9b665;
}

.modules-left, .modules-center, .modules-right {
    margin: 0 0.5em;
}

#workspaces button {
    color: @muted;
    padding: 0 0.5em;
    border-radius: 4px;
    transition: all 0.3s ease;
}

button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
    border-color: transparent;
}

#clock {
    color: @accent;
    font-weight: bold;
}

#custom-scale,
#custom-idle,
#custom-tailscale {
    color: @accent;
}

#pulseaudio, #clock, #memory, #tray, #privacy, #network,
#group-tray, #custom-idle, #custom-tailscale, #custom-scale {
    padding: 0 0.25em;
    margin: 0;
}

#privacy {
    padding: 0.5em;
}

#privacy,
#network,
#pulseaudio {
    color: @accent;
}

#network.disconnected {
    color: #ea6962;
}

#pulseaudio.muted {
    color: @muted;
    text-decoration: line-through;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

tooltip {
    background-color: @bg;
    border: 1px solid @accent;
    border-radius: 4px;
    color: @fg;
}

tooltip label {
    color: @fg;
}
