{{ if eq .chezmoi.os "darwin" -}}
font-size = 16
{{ else if eq .chezmoi.os "linux" -}}
font-size = 12
{{ end -}}
font-family = Berkeley Mono

window-padding-x = 12
window-padding-y = 10
window-padding-balance = true
window-title-font-family = Berkeley Mono

theme = Kanagawa Wave

mouse-hide-while-typing = true

{{ if eq .chezmoi.os "darwin" -}}
env = SHELL=/opt/homebrew/bin/bash
command = /opt/homebrew/bin/bash -l
{{ else if eq .chezmoi.os "linux" -}}
command = /bin/bash -lc "tmux new-session -A -t main"
{{ end -}}
