{{ if eq .chezmoi.os "darwin" -}}
font-size = 16
{{ else if eq .chezmoi.os "linux" -}}
font-size = 12
{{ end -}}
font-family = Berkeley Mono
theme = Gruvbox Material
# override bg to soft variant — warmer, less pupil strain
background = 282828
foreground = d4be98

{{ if eq .chezmoi.os "darwin" -}}
env = SHELL=/opt/homebrew/bin/bash
command = /opt/homebrew/bin/bash -l -c "/opt/homebrew/bin/tmux new-session -A -t main"
{{ else if eq .chezmoi.os "linux" -}}
command = /bin/bash -lc "tmux new-session -A -t main"
{{ end -}}
