@import "./colors/gruvbox.css";

* {
    border: none;
    border-radius: 0em;
    font-family: FontAwesome, Noto Sans CJK;
    font-size: 21px;
    color: @fg;
}

button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

window#waybar {
    background: @bg;
}

#workspaces {
	background: @bg2;
    padding: 0em 1em 0em 0.5em;
    border-radius: 0em 0em 1em 0em;
}

#workspaces button {
    padding: 0em 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#workspaces button.active,
#workspaces button.focused {
    background-color: @bg;
    border-radius: 0.33em;
}

#tray {
    background: @bg2;
    margin: 0em 1em;
    border-radius: 0.33rem;
    padding: 0em 0.5em;
}

#clock {
    background-color: @bg2;
    border-radius: 0em 0em 0em 1em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    margin-left: 1em;
    font-weight: bold;
}

#network {
    border-radius: 0.33em;
    margin-right: 0.25em;
}

#pulseaudio {
    border-radius: 0.33em;
    margin-left: 0em;
    padding-right: 0.5em;
}

#pulseaudio.muted {
    background: @bg2;
    color: @fg4;
    border-radius: 0.33em;
}

