@import "./colors/onedark.css";

* {
    font-family: DejaVu Sans Mono;
}

window#waybar {
    background-color: @bg;
    font-size: 20px;
    color: @fg;
}

#workspaces {
    margin-left: 0.25em;
    margin-right: 1em;
}

#workspaces button {
    padding: 0px;
    margin: 0.25em 0em 0.25em 0em;
    color: @fg;
    min-width: 2em;
}

#workspaces button.active {
    color: @focused; 
    box-shadow: rgb(86, 93, 97) 0px 0px 10px 5px inset;
}

#clock {
    font-weight: bold;
}

#custom-scratchpad_indicator, #pulseaudio, #network,
#clock, #memory, #tray, #idle_inhibitor, #privacy {
    margin-right: 1em;
}

#tray menu {
   background-color: @bg;
}

#pulseaudio.muted {}

