[Desktop Entry]
Type=Application
Version=1.0
Name=Midnight Commander
GenericName=File Manager
Comment=Visual file manager
Exec=alacritty -T=mc -e mc
Icon=folder
MimeType=inode/directory
Terminal=false
Categories=Utility;
