@define-color bg #1F1F28;
@define-color fg #DCD7BA;

@define-color crystal_blue     #7E9CD8;
@define-color spring_green     #98BB6C;
@define-color ronin_yellow     #FF9E3B;
@define-color oni_violet       #957FB8;
@define-color samurai_red      #E82424;
@define-color sumi_ink_4       #54546D; /* Muted Grey */
@define-color wave_aqua        #6A9589;
@define-color fujiGray         #727169;

* {
    font-family: 'CaskaydiaMono Nerd Font';
    font-size: 14px;
    font-weight: 600;
}


window#waybar {
    background-color: @bg;
    color: @fg;
    border-bottom: 2px solid mix(@bg, grey, 0.7);;
}

.modules-left, .modules-center, .modules-right {
    margin: 0 1em;
}

#workspaces {
    font-weight: 700;
}

#workspaces button {
    color: @fujiGray;
    padding: 0 0.3em;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    transition: all 0.3s ease;
}

#workspaces button.active {
    color: @fg;
    border-bottom: 2px solid @fg; /* Minimal underline indicator */
}

button:hover {
    box-shadow: none; /* Remove predefined box-shadow */
    text-shadow: none; /* Remove predefined text-shadow */
    background: none; /* Remove predefined background color (white) */
    transition: none; /* Disable predefined animations */
    border-color: transparent;
}

#custom-scratchpad_indicator, #pulseaudio, 
#clock, #memory, #tray, #idle_inhibitor, #privacy, 
#custom-idle, #custom-tailscale, #group-tray {
    padding: 0 0.5em;
    margin: 0;
}

/* -----------------------------------------------------------------------------
 * Module Specifics (Using your color logic)
 * -------------------------------------------------------------------------- */
#clock {
    color: @ronin_yellow;
    font-weight: bold;
}

#custom-idle {
    color: @oni_violet;
}

#custom-tailscale {
    color: @wave_aqua;
}

#network {
    color: @spring_green;
    padding-left: 0.5em;
}

#network.disconnected {
    color: @samurai_red;
}

#pulseaudio {
    color: @crystal_blue;
}

#pulseaudio.muted {
    color: @sumi_ink_4;
    text-decoration: line-through;
}

#tray {
    background-color: transparent; /* Removed background */
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

