@import "./gruvbox.css";

* {
    font-family: 'IBM Plex Sans', 'Symbols Nerd Font';
    font-weight: 500;
}

window#waybar {
    background-color: @gruvbox-bg0;
    font-size: 14px;
    color: @gruvbox-fg1;
}

#workspaces {
    margin-left: 0.25em;
    margin-right: 0.5em;
    font-weight: 700;
}

#workspaces button {
    padding: 0px;
    margin: 0.25em 0em 0.25em 0em;
    min-width: 2em;
    color: @gruvbox-fg1;
}

button:hover {
    box-shadow: none; /* Remove predefined box-shadow */
    text-shadow: none; /* Remove predefined text-shadow */
    background: none; /* Remove predefined background color (white) */
    transition: none; /* Disable predefined animations */
    border-color: transparent;
}

#clock {}

#custom-scratchpad_indicator, #pulseaudio, #network,
#clock, #memory, #tray, #idle_inhibitor, #privacy, 
#custom-power-management, #custom-idle, #custom-tailscale {
    margin-right: 1em;
}

#custom-tray {
    font-size: 1.25em;
}

#tray menu {}

#pulseaudio.muted {}

