@import "./theme/nord.css";

* {
    font-family: 'CaskaydiaMono Nerd Font';
    font-size: 14px;
    font-weight: 600;
}


window#waybar {
    background-color: @nord0;
    color: @nord4;
    border-bottom: 2px solid @nord1;
}

.modules-left, .modules-center, .modules-right {
    margin: 0 1em;
}

#workspaces {
    font-weight: 700;
}

#workspaces button {
    color: @nord4; 
    padding: 0 0.3em;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    transition: all 0.3s ease;
}

#workspaces button.active {
    color: @nord6; 
    border-bottom: 2px solid @nord8; /* Minimal underline indicator */
}

button:hover {
    box-shadow: none; /* Remove predefined box-shadow */
    text-shadow: none; /* Remove predefined text-shadow */
    background: none; /* Remove predefined background color (white) */
    transition: none; /* Disable predefined animations */
    border-color: transparent;
}

#clock {}

#custom-scratchpad_indicator, #pulseaudio, 
#clock, #memory, #tray, #idle_inhibitor, #privacy, 
#custom-idle, #custom-tailscale, #group-tray {
    padding: 0 0.5em;
    margin: 0;
}

/* -----------------------------------------------------------------------------
 * Module Specifics (Using your color logic)
 * -------------------------------------------------------------------------- */

#clock {
    color: @nord4;
    font-weight: bold;
}

#custom-idle, #custom-tailscale {
    color: @nord9;
}

#network {
    color: @nord7;
    padding-left: 0.5em;
}

#network.disconnected {
    color: @nord11;
}

#pulseaudio {
    color: @nord13;
}

#pulseaudio.muted {
    color: @nord3;
    text-decoration: line-through;
}

#tray {
    background-color: transparent; /* Removed background */
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @nord11;
}

