* {
    font-family: JetBrainsMono Nerd Font;
}

window#waybar {
    background-color: #1A1B26;
    font-size: 20px;
    color: #C0CAF5;
}

#workspaces {
    margin-left: 0.25em;
    margin-right: 0.5em;
}

#workspaces button {
    color: #C0CAF5;
    padding: 0px;
    margin: 0.25em 0em 0.25em 0em;
    min-width: 2em;
}

#workspaces button.focused {
    font-weight: bold;
    background-color: #7AA2F7;
    color: #1A1B26;
}

#clock {
    font-weight: bold;
}

#custom-scratchpad_indicator, #pulseaudio, #network,
#clock, #memory, #tray, #idle_inhibitor, #privacy {
    margin-right: 1em;
}

#custom-tray {
    font-size: 1.25em;
}

#tray menu {
   background-color: #1A1B26;
}

#pulseaudio.muted {}
