{{ if eq .chezmoi.os "darwin" -}}
brew "bash"
brew "bash-completion@2"
{{- end }}
brew "bat"
brew "btop"
brew "dysk"
brew "eza"
brew "fzf"
brew "fastfetch"
brew "jq"
brew "neovim"
brew "ripgrep"
brew "shellcheck"
brew "starship"
brew "tealdeer"
brew "tmux"
brew "yamllint"
brew "midnight-commander"
cargo "rustlings"
{{ if eq .chezmoi.os "linux" -}}
flatpak "app.devsuite.Ptyxis"
flatpak "com.brave.Browser"
flatpak "com.github.johnfactotum.Foliate"
flatpak "com.github.tchx84.Flatseal"
flatpak "com.rustdesk.RustDesk"
flatpak "com.valvesoftware.Steam"
flatpak "io.bassi.Amberol"
flatpak "io.github.benjamimgois.goverlay"
flatpak "io.github.celluloid_player.Celluloid"
flatpak "io.github.flattool.Warehouse"
flatpak "io.github.unknownskl.greenlight"
flatpak "io.missioncenter.MissionCenter"
flatpak "me.iepure.devtoolbox"
flatpak "net.mullvad.MullvadBrowser"
flatpak "org.chromium.Chromium"
flatpak "org.gnome.Loupe"
flatpak "org.jellyfin.JellyfinDesktop"
flatpak "org.localsend.localsend_app"
flatpak "org.mozilla.firefox"
flatpak "org.remmina.Remmina"
flatpak "io.podman_desktop.PodmanDesktop"
{{ end -}}
