#usb-046d_Logitech_BRIO_59F4E02A-video-index0
# Logitech Brio 4K - Set resolution, frame rate, and other controls
SUBSYSTEM=="video4linux", KERNEL=="video*", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="085e", ATTRS{index}=="0", SYMLINK+="video/logitech_brio", RUN+="/usr/bin/v4l2-ctl -d $devnode --set-fmt-video=width=1280,height=720,pixelformat=MJPG --set-parm=60 --set-ctrl=white_balance_temperature=3000 --set-ctrl=sharpness=100"
