[Unit]
Description=Ollama AMD GPU Container
After=network-online.target

[Container]
Image=docker.io/ollama/ollama:rocm
ContainerName=ollama
PublishPort=11434:11434
Volume=ollama_data:/root/.ollama
AddDevice=/dev/kfd
AddDevice=/dev/dri
SecurityLabelDisable=true
# Auto-update integration
Label=io.containers.autoupdate=image

[Install]
WantedBy=default.target
